* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
}
.button {
    background-color: #4CAF50; /* Green */
    border: saddlebrown;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.timer {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.counter {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}